/* General body styling to remove margin and set font */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

/* Root element styling */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: #18181B; /* Dark background */
}

/* Box styling */
.box {
  flex: 1; /* Each box will take equal width */
  padding: 20px; /* Padding inside each box */
  margin: 10px;
  border-radius: 10px; /* Rounded corners for boxes */
  display: flex;
  flex-direction: column; /* Makes the content of the boxes stack vertically */
  width: 400px;
  overflow: hidden; /* Ensure contents do not overflow the box */
  background-color: #2A2A2D;
  color: #B6B6B8
}

.right-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Container to center all content and apply margin and padding uniformly */
.content-container {
  display: flex;
  justify-content: space-around; /* Distributes space around items */
  margin: 20px;
}

h1{
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
  font-size: 38px;;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  margin-right: 50px;
}

.box-header {
  padding: 10px;
  background-color: #3a3a3a; /* Background color for the header */
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px); /* Make sure header spans full width */
  box-sizing: border-box; /* Include padding in width calculation */
  height: 56px;
}

.box-header h2 {
  margin: 0;
  color: #fff;
  font-size: 1.5em;
}


.icon-small {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.icon-and-text {
  display: flex; /* Aligns children (icon and text) in a row */
  align-items: center;
}

.top-right-icon {
  position: absolute;
  top: 80px; /* Adjust based on your layout */
  right: 100px; /* Adjust based on your layout */
}

.top-right-icon img {
  width: 30px; /* Size of the icon */
  height: 30px; /* Size of the icon */
}

.mpb, .wrb {
  height: 110px;
  width: 110px;
}

/* Form styling */
form {
  width: 100%;
  margin-bottom: 25px;
}

/* Input field styling */
input {
  padding: 10px;
  width: 20%; /* Relative width */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px; /* Rounded corners for the input field */
  font-family: 'Roboto Mono', monospace;
  margin-left: 580px;
}

/* Button styling */

#root button {
  background-color: #aaaaaa;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  margin-left: 655px;
}

.button:hover,
.button-7:focus {
  background-color: #aaaaaa;
}

.brawler-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add space between each brawler-info */
}

.brawler-info span {
  flex: 1; /* Allow text to take up remaining space */
  text-align: left; /* Align text to the left */
}

.brawler-info .brawler-name {
  width: 80px; /* Set a fixed width for the brawler name */
}

.brawler-info .brawler-win-rate {
  width: 100px; /* Set a fixed width for the win rate */
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active {
  background-color: #0064bd;
  box-shadow: none;
}

.brawler-image{
  border-radius: 10px;
  height: 45px;
  width: 45px;
  margin-left: 50px;
}

.box left-box {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.top-left-box, .bottom-left-box, .bottom-bottom-left-box{
  flex: 1;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  flex-direction: column;
  margin-right: 10px;
  background-color: #2A2A2D;
  color: #B6B6B8
}

.top-left-box {
  height: calc(50% - 100x); /* Adjust height to take half the height minus margin */
  margin-bottom: 20px;
  margin-top: 11px;
}

.bottom-left-box {
  height: calc(50% - 188px); /* Adjust height to take half the height minus margin */
  margin-top: 10px;
  margin-bottom: 20px;
}

.bottom-bottom-left-box{
  margin-top: 10px;
  display: flex;
  height: 82px;
  align-items: center;
}



.top-left-box, .bottom-left-box, .middle-box, .right-box, .bottom-bottom-left-box {
  flex: 1; /* Each box will take equal width */
  overflow: hidden; /* Ensure contents do not overflow the box */
}

h2 {
  margin-top: 0; /* Remove default margin */
  margin-bottom: 10px; /* Adjust bottom margin if necessary */
  transform: translateY(-10px); /* Adjust the value as needed */
}

.event-brawlers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust gap between images */
}

.event-brawler-pair {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-icon, .brawler-icon {
  width: 45px; /* Adjust the size as needed */
  height: 45px; /* Adjust the size as needed */
  border-radius: 10px;
}

.brawler-icon{
  margin-left: 10px;
}

.trophy-header {
  background-color: #ffc107!important /* Customize the color */
}

.mode-header {
  background-color: #890e1c; /* Customize the color */
}

.player-header {
  background-color: #3b82f6;
}

.meta-header {
  background-color: #5c9b15; /* Customize the color */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  input, button {
    width: 100%; /* Full width on smaller screens */
    margin: 10px 0; /* Stack vertically with space between */
  }
}