/* General body styling to remove margin and set font */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

/* Root element styling */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: #1b1b1b; /* Light grey background */
}

.box {
  flex: 1; /* Each box will take equal width */
  padding: 20px; /* Padding inside each box */
  border: 2px solid #ccc; /* Light grey border for boxes */
  margin: 10px;
  border-radius: 10px; /* Rounded corners for boxes */
  display: flex;
  flex-direction: column; /* Makes the content of the boxes stack vertically */
  width: 400px;
}

.right-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Container to center all content and apply margin and padding uniformly */
.content-container {
  display: flex;
  justify-content: space-around; /* Distributes space around items */
  margin: 20px;
}

.win-rate{
  color: orange
}

h1{
  font-family: 'Roboto Mono', monospace;
  color: #aa00ff;
  font-size: 38px;;
  font-weight: 800;
  padding-left: 55px;;
}



.icon-small {
  width: 20px;
  height: 20px;
  margin-left: 10px;;

}

.icon-and-text {
  display: flex; /* Aligns children (icon and text) in a row */
  align-items: center;
  margin-left: 91px;
}

.top-right-icon {
  position: absolute;
  top: 80px; /* Adjust based on your layout */
  right: 100px; /* Adjust based on your layout */
}

.top-right-icon img {
  width: 30px; /* Size of the icon */
  height: 30px; /* Size of the icon */
}

.mpb, .wrb {
  border-radius: 20px;
  height: 80px;
  width: 80px;
}

/* Form styling */
form {
  width: 100%;
  margin-bottom: 25px;
}

/* Input field styling */
input {
  padding: 10px;
  margin-right: 10px;
  width: 70%; /* Relative width */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 5px; /* Rounded corners for the input field */
  font-family: 'Roboto Mono', monospace;
}

/* Button styling */

#root button {
  background-color: #aa00ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;

}

.button:hover,
.button-7:focus {
  background-color: #07c;
}

.brawler-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add space between each brawler-info */
}

.brawler-info span {
  flex: 1; /* Allow text to take up remaining space */
  text-align: left; /* Align text to the left */
}


.brawler-info .brawler-name {
  width: 80px; /* Set a fixed width for the brawler name */
}

.brawler-info .brawler-win-rate {
  width: 100px; /* Set a fixed width for the win rate */
}


.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.right-box h2 {
  margin-bottom: 15px; /* Space below the heading */
}

.button:active {
  background-color: #0064bd;
  box-shadow: none;
}

.brawler-image{
  border-radius: 10px;
  height: 45px;
  width: 45px;
  margin-left: 50px;
}



/* Responsive adjustments */
@media (max-width: 768px) {
  input, button {
    width: 100%; /* Full width on smaller screens */
    margin: 10px 0; /* Stack vertically with space between */
  }
}